<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All Recipes</h1>
    <ul>
      <%@recipes.each do |recipe| %>
      <li><%=recipe.name%> <a href="/recipes/<%=recipe.id%>">link</a> </li>
      <%end%>
    </ul>

  <a href="/recipes/new">Create New Recipe</a>

  </body>
</html>
